:root {
  --primary-color:#D29BFD;
  --text-light-color:#eeeeee;
  --secondary-color: #F53838;
  --primary-bg-color: #FFFFFF;
}
.container-Botoncitos{

    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin: 5px;
    width: 100%;


}
.btn{
  border :1px solid #000;
  padding: 15px 35px;
  border-radius: 10px;
  font-size: 20px;
 
 
  }
  .btn-primary{
    background-color:var(--primary-color);
    color: var(--text-light-color);
    font-weight: bold;
    border:none;
    
  }
  .btn-transparent{
    background: transparent;
    color:#000;
  }
  .container-Pokemones{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

  }
  .Banner{
    padding: 20px 30px;
    margin: 30px;
    border-radius: 30px;
    height: 375px;
    width: 331px;
    border: 2px solid #DDDDDD;
    transition: all 0.2s;
    box-shadow:  3px 1px 9px 3px rgba(0, 0, 0, 0.27);
  
  }
  .Banner-title{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    
  

  }
  .Banner-imagen{
    padding: 17px;
    border-radius: 30px;
    height: 80%;
    width: 90%;
    display: grid;
    justify-content: center;

  }
  .Banner-type{
    display: flex;
    justify-content: center;
    font-size: 15px;
    top:-5px;
    margin-top: -6%;
    background-color: #606de2;
    border-radius: 10px;
    width: 100%;
    

  }


  .container-Videos{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    

    
  }
  .Square{
    height: 330px;
    width: 330px;
    border-radius: 10px;
   background-color: #ffff;
   border: 2px solid #DDDDDD;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .Square-video{
    height: 150px;
    width: 302px;
    margin: -40px;
    padding: 10%;
  }
  .Square-title{
    font-size: 150%;
    display: flex;
    justify-content: center;

  }
  
  .container-Planes{
   
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 10px;
    gap: 40px;
    
  }
  .planes-div{
  
    background-color: var(--primary-bg-color);
    border: 2px solid #DDDDDD;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    margin: 30px;
    border-radius: 10px;
    height: 504px;
    width: 331px;
    list-style: none;
    padding-bottom: 140px;
    
    padding-left: 0;
   
  
  }
  .Planes-imagen{
    width: 144.9px;
   
  }
  .Planes-title{
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    


  }
  .Planes-option.Planes-lista.Planes-img{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 15px;
    margin-right: 30px;


  }
  .Planes-price {
    font-size: 25px;
    font-weight: 500;

  
  }
  .Botoncito {
    font-family: 'Rubik';
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--secondary-color);
    border-radius: 50px;
    color: var(--secondary-color);
    background-color: transparent;
    padding: 10px 55px;
    transition: all .2s;
}



  


/*:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/