
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root{
  --primary-color-text:#313131;
  --primary-form:#79747E;
  --primary-link:#FF8682;
  --primary-color-btn:#3869EB;
}
.Login{
  width: 100%;
  margin-bottom: 30px;
}
.Container-Logo{
  display: flex;
  justify-content: flex-start;

}
.header-logo{
  display: flex;
  justify-content: center;
  margin-top: 19.8px;
  margin-left: 23.21px;
}
.header-logo>.Logo{
  width: 35px;
  height: 35px;
  margin-top:20.4px;
  margin-left: 23.21px;
  padding-right: 10px;
}
.header-logo >h1{
  font-weight: 700;
  font-size:28px;
  margin-top:19.8px;
  
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
}
.Caja-principal{
  display: flex;
  justify-content: center;
}
.Container-form{
 
  width: 50%;
  height: 180.65px;
  margin-left:90px;
}

.Titulo>h1{
  font-size: 30px;
  font-weight:600 ;
  color:var(--primary-color-text);
  font-family: "Poppins", sans-serif;
}
.Titulo>p{
  font-size: 16.21px;
  font-weight:400;
  line-height:9.32px;
  color:var(--primary-color-text);
  font-family: "Poppins", sans-serif;
}
.Form {
  margin-top: 30px;
 
}
.Form >h6{
  margin-bottom: 5px;
  margin: 10px;

}
.Form >input{
  border-color: var(--primary-form);
  width: 50%;
  height: 35px;
  border-radius:3px;
}
.Marcador {
  display: flex;
  margin:25px 0 0 0;
  
}
.Marcador >input{
  width: 10px;
  height: 10px;
}
.Marcador > h6{
  display: flex;
  justify-content:end;
  margin-top: 0px;
  padding-right:200px;
}
.Marcador >.Password-rosa{
  color: var(--primary-link);
  font-size: 11px;

}
.Btn{
  background-color: var(--primary-color-btn);
  font-family: "Poppins", sans-serif;
  border: none;
  width: 70%;
  height:30px;
  border-radius: 5px;
  color:white;
  font-size: 10px;
  font-weight: 600;
}
.Link1{
  display: flex;
}
.Link1>Link{
  display: flex;
  text-decoration: none;
  margin: 0px;
}
.texto-img{
  width: 600px;
  height: 50%;
}
.container-iconos{
  display: flex;
  justify-content: flex-end;
  width: 600px;
  height: 90px;

  align-items: center;
}
.container-iconos>div{
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-color-btn);
  border-radius: 5px;
  margin:20px 20px 20px 20px;
  width: 600px;
  height: 60px;
}
.container-iconos>div>img{
  padding-left: 60px;
  width:35px;
  height: 35px;
}

.Image{
  width: 50%;
  margin:30px;
}
.Image>img{
  width: 667px;
  height: 600px;
  padding-left: -10px;

}
.SignUp{
  width: 100%;
}
.Formulario{

  width: 100%
 
}
.Container-formulario{
  display: flex;
}
.Container-formulario>div{
  width: 50%;
  margin:30px;
}
.Container-form2{
  height: 50%;
  width: 50%;

}


.img-secundary{
  width: 100%;
  height: 100%;
  margin:30px; 
}
.img-secundary>img{
  width: 90%;
  height: 90%;
}

.Form{
  width: 100%;
}
.form1{
  display: flex;
  width: 100%;
}
.form2{
  display: flex;
  width: 100%;
}
.form3 {
  width: 1150px;
}
.image-mala{
  width: 100%;
  height: 100%;
}





/*:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}*/