:root{
    --primary-color: #FF7B47;
    --secondary-color-1:#0D5C63;
    --secondary-color-2: #17213C;
    --text-color: #252B42;
    --second-text-color: #737373;
}
body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;

}
#part1{
    
    height: 793px;
    width: 1536px;
    background-image: url("/assets/image/fondo.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
nav{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    height: 100px;
    padding:0px 30px 0px 200px;    
}
nav > div:nth-last-child(3){
    
    display:flex;
    align-items: center;
    justify-content: start;
}
nav > div:nth-last-child(2){
    
    display:flex;
    align-items: center;
}
nav > div:nth-last-child(1){
    
    display:flex;
    align-items: center;
    justify-content: end;
    
}
nav > h2{
    font-size: 55px;
    color:var(--text-color);
    
}
nav a{
    text-decoration: none;
    color: var(--second-text-color);
    font-weight: 600;
    margin-right: 15px;
}
nav img{
    font-size: 23px;
}
#banner{
    padding-top: 70px;
    padding-left: 200px;
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 400px;
}


#banner h1{
    font-size: 55px;
    color:var(--text-color);

}
#banner p{
    margin :5px;
    color: var(--second-text-color);

}

#botoncitos{
    display: flex;
    margin-top:30px;
}
#btn1{
    background-color: #FF7B47;
    border-radius: 37px;
    border-color: transparent;
    color: white;
    height: 48px;
    width: 180px;
    font-weight: 600;
    margin-right: 5px;
}
#btn2{
    background-color: transparent;
    border-color: #0D5C63;
    color:#0D5C63;
    border-radius: 37px;
    font-weight: 600;
    height: 48px;
    width: 154px;
    
}


#box{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    column-gap: 10px;
    justify-content: center;
    height: 200px;
    width: 100%;
    position: absolute !important;
    bottom: -130px;

}
.boxes{
    background-color: white;
    margin: 0 15px;
    padding: 50px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: start;
    gap:10px;

}
.boxes >img{
    margin-top:50px;
    margin-left:50px
}
.boxes >h3{
    font-size: 1.5em;
    color: var(--primary-text-color);
    margin:0px;

}
.boxes >span{
    height: 10px;
    width: 100%;
    display: flex;
    justify-content: start;

}
.boxes > p{
    color: var(--second-text-color);
    
}

#boxes3 {
    background-color: var(--secondary-color-1);
    color: white;
    margin: 0 15px;
    padding: 50px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    align-items: start;
    gap:10px;

}
#boxes >h3{
    font-size: 1.5em;
    color: var(--primary-text-color);
    margin:0px;

}
#boxes3 >span {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: start;

}

#boxes> p {
    color: var(--second-text-color);
    
}
.part2{
    margin: 400px 0px;
    height: 300px;

}
.part2 > #text >h1{
    display: flex;
    justify-content: center;
    font-size:40px;
    font-weight: 700;
    color:#252B42;
}
.part2 > #text >p{
        color: #737373;
        display: flex;
        justify-content: center;
        font-size:14px;
    }
.cuadrados2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 1049px;
    height: 209px;
    position: absolute !important;
    margin-top: 50px;
    margin-left: 195px;
    bottom: -894px;
}
.cua {
    background-color: white;
    margin: 0 40px;
    height: 209px;
    width: 241px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:30px;
    margin-top : -23px;
}
.cua>img{
    margin-top:30px;
    margin-bottom: -14px;
    
}
.cua>h1{
     
    margin:1px;
    font-size:40px;
    color:#252B42;
    font-weight: 700;

}
.cua> h5{
    color: #737373;

    margin-top: -23px;
    
}

.part3{
    margin: 400px 0px;
    height: 100px;
    margin: 0px;
    margin-top:100px;


}
.part3 > #titulo >h1{
    display: flex;
    justify-content: center;
    font-size:40px;
    font-weight: 700;
    color:#252B42;
    
}
.part3 > #titulo >p{
    color: #737373;
        display: flex;
        justify-content: center;
        font-size:14px;
    }
.rectangulos{
    display: flex;
    margin-left: 170px;
    margin-top: 45px;
}
.rect{
    height: 321px;
    width: 240px;
    background-color: white;
    margin-left: 40px;
}
.rect>img{
    margin-top:30px;
    margin-bottom: -14px;
    
}
.rect>h5{
     
    width: 130px;
    height: 48px;
    margin-top: 30px;
    margin-left: 30px;
    color: #252B42;
    font-size: 16px;
    font-weight: 700;

}
.rect> p{
    height: 80px;
    width: 160px;
    margin-left: 30px;
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    
}
#arriba {
    display:flex;
    align-items: center;   
    margin-top:100px; 
}
#textito{
    display: flex;
    margin-left: 220px;
    align-items: center;
    justify-content: start;
}
#textito h3{
    color:#252B42;
    font-size: 24px;
    font-weight: 700;
}
#textito p{
    color:#737373;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
#boton{
    display: flex;
    margin-top:30px;
    align-items: center;
    justify-content: end;
    margin-right: 200px;
    justify-content: end;
}
#boton1{
    background-color: #FF7B47;
    border-radius: 4px;
    border-color: transparent;
    color: white;
    height: 48px;
    width: 160px;
    font-weight: 600;
    margin-right: 5px;

}








    


    




